<style>
    .link {
        text-decoration: none;
        color: black ; 
    }
    .link:hover {
        text-decoration: none;
        color: black ; 
    }

</style>
<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
        <!-- text - start -->
        <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Contents</h2>

        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">最近の活動内容やイベントなどはこちらから！</p>
        </div>
        <!-- text - end -->

        <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-2 xl:grid-cols-2 xl:gap-8">
            <% @blogs.reverse_each do |blog| %>
                <%= render 'shared/blog_card', blog: blog %>
            <% end %>
        </div>
    </div>
</div>















   <div class="w-full p-12 bg-white">
        <div class="flex items-end justify-between mb-12 header">
            <div class="title">
                <p class="mb-2 text-4xl font-bold text-gray-800">
                Contents
                </p>
                <p class="text-2xl font-light text-gray-400">
                最新の記事一覧です
                </p>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3">
            <% @blogs.reverse_each do |blog| %>
            <div id="<%= dom_id blog %>" class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-60 md:w-80">
                <%= link_to custom_blog_path(blog), class: "block w-full h-full" do %>
                <div class="block w-full h-full">
                    <%= image_tag(blog.post_image.present? ? blog.post_image.url : "blog/TeienStage.jpg", alt: "blog photo", class: "object-cover w-full", style: "object-position: center; height: 60px; filter: blur(20px);") %>
                    <div class="w-full p-4 bg-white dark-bg-gray-800">
                    <p class="font-medium text-indigo-500 text-md">
                        <%= blog.category %>
                    </p>
                    <p class="mb-2 text-xl font-medium text-gray-800 dark-text-white">
                        <%= blog.title %>
                    </p>
                    <p class="font-light text-gray-400 dark-text-gray-300 text-md">
                        <%= blog.body.slice(0, 16) %>‥‥
                    </p>
                    <div class="flex items-center mt-1">
                        <div class="flex flex-col justify-between ml-4 text-sm">
                        <p class="text-gray-800 dark-text-white mb-1">
                            <%= blog.user %>
                        </p>
                        <p class="text-gray-400 dark-text-gray-300">
                            <%= blog.created_at.strftime('%Y年%m月%d日 %H:%M') %>
                        </p>
                        </div>
                    </div>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</body>
